# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# ipython/jupyter notebooks
#*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

# imgui settings
imgui.ini

# Virtual environment
/venv

# MacOS
.DS_Store

# Project
data

# Ignore everything under collected_trajectories
collected_trajectories/*
!collected_trajectories/tidy_house/
collected_trajectories/tidy_house/*
!collected_trajectories/tidy_house/.gitkeep

# Temporary (for refactoring)
configs_backup
# configs/methods
# configs/pddl
# configs/tasks

habitat_extensions_backup
habitat_extensions/tasks_original

mobile_manipulation_backup

check_points
